body {
    background:black;
    color:white;
    font-size:1.5em;
    overflow-x:hidden;
    display:flex;
    font-family:Times New Roman;
}

#privacy, #terms {
    width:auto;
    position:fixed;
    z-index:5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    background:white;
    color:black;
    padding:2%;
    display:none;
}

#privacy, #terms {
    overflow-y:auto;
    height:70%;
 }

.footer-text {
    font-size:0.8em;
}

#main-input {
    width:70%;
    margin:auto;
    font-family:Times New Roman;
}

#maintenance {
    display:none;
}

a, a:visited, a:hover {
    font-weight:thin;
    color:purple;
    text-decoration:underline;
    cursor:pointer;
}

.btns, #main-input {
    font-size:1em;
    border-radius:25px;
    padding:1%;
    background:black;
    color:white;
    border: solid 5px white;
    margin-bottom:0.5%;
    margin-top:0.5%;
}

.btns:hover, .btns:active {
    cursor:pointer;
    color:aqua;
}

#container {
    margin:0;
    height:83vh;
    width:100%;
    flex-direction:column;
    flex:1;
    z-index:1;
    display:none;
}

#chat-box {
    padding: 2%;
    height:70%;
    overflow-y:auto;
    flex-direction:column;
    flex:1;
    color: #09ff00;
}

.user-text {
    color: #00d5ff;
}

#input-box {
    padding: 1%;
    height:18%;
}

.center {
    text-align:center;
}

.close-button {
    font-size:1em;
    border-radius:25px;
    padding:1%;
    background:black;
    color:white;
}

.close-button:hover {
    font-size:1em;
    border-radius:25px;
    padding:1%;
    background:white;
    color:black;
    border:black 5px solid;
    cursor:pointer;
}

.close-button:active {
    font-size:1em;
    border-radius:25px;
    padding:1%;
    background:white;
    color:black;
    border:black 5px solid;
    cursor:pointer;
}

#right-fixed {
    text-align:center;
    background:white;
    color:black;
    position:fixed;
    top:0;
    right:-3000px;
    font-size:0.7em;
    width:60%;
    height:100vh;
    line-height:2;
    transition: right 0.5s ease-in-out;
}

#menu-mobile, #right-fixed {
    display:none;
    z-index:2;
    padding:2%;
}

@media (max-width: 768px) {
    .btns, #main-input {
        padding:1.5%;
        margin-bottom:3%;
    }
    #menu-mobile, #right-fixed {
        display:block;
    }
    #privacy, #terms {
        width:85%;
    }
    #privacy, #terms {
        overflow-y:auto;
        height:85%;
     }
	 #container { 
	    height:75vh;
	 }
     #footer-desktop {
        display:none;
     }
}
